In [33]:
import pandas as pd
import requests

In [41]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [42]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [43]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,45.9678,8.713,29430
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,35.3030,8.685,22214
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.4904,8.571,13434
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,16.4358,8.565,16946
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.4809,8.549,9617

In [49]:
temp_df.shape

(20, 7)

In [44]:
df = pd.DataFrame()

In [38]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
# for i in range(1,429):
#     response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
#     temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
#     df = df.append(temp_df,ignore_index=True)

In [45]:
import requests
import pandas as pd

url = "https://api.themoviedb.org/3/movie/top_rated"
api_key = "8265bd1679663a7ea12ac168da84d2e8"

session = requests.Session()
dfs = []

for page in range(1, 429):
    response = session.get(
        url,
        params={
            "api_key": api_key,
            "language": "en-US",
            "page": page
        },
        timeout=10
    )

    if response.status_code != 200:
        continue

    results = response.json().get("results", [])
    if not results:
        continue

    dfs.append(
        pd.DataFrame(results)[
            ['id','title','overview','release_date',
             'popularity','vote_average','vote_count']
        ]
    )

df = pd.concat(dfs, ignore_index=True)

In [47]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,45.9678,8.713,29430
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,35.3030,8.685,22214
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.4904,8.571,13434
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,16.4358,8.565,16946
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.4809,8.549,9617
...,...,...,...,...,...,...,...
8555,848187,Role Play,Emma has a wonderful husband and two kids in t...,2023-12-14,3.6851,5.956,605
8556,611914,The Courier,"Ezekiel Mannings, a vicious crime boss, is out...",2019-11-22,5.9824,5.956,557
8557,352492,XOXO,XOXO follows six strangers whose lives collide...,2016-08-26,3.5936,5.956,596
8558,228973,Backcountry,A couple on a deep-wilderness hike become hope...,2015-03-20,3.6339,5.956,708
8559,91314,Transformers: Age of Extinction,As humanity picks up the pieces after the batt...,2014-06-25,23.4246,5.957,8555

In [48]:
df.shape

(8560, 7)

In [ ]:
df.to_csv('movies.csv')