In [27]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [28]:
df = pd.read_csv('train1.csv')[['Age','Pclass','Fare','Survived']]

In [29]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [30]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [31]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [33]:
X_train.head()

      Age  Pclass     Fare
331  45.5       1  28.5000
733  23.0       2  13.0000
382  32.0       3   7.9250
704  26.0       3   7.8542
813   6.0       3  31.2750

In [34]:
knn = KNNImputer(n_neighbors=3,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [35]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7374301675977654

In [36]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [37]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)
y_pred2 = lr.predict(X_test_trf2)
accuracy_score(y_test,y_pred2)

0.7374301675977654

In [38]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('imputer', KNNImputer(n_neighbors=3, weights='distance'))
])

X_train_trf = pipe.fit_transform(X_train)
X_test_trf = pipe.transform(X_test)

In [39]:
X_train_trf

array([[ 1.10448926, -1.61413602, -0.07868358],
       [-0.44858676, -0.40055118, -0.37714494],
       [ 0.17264365,  0.81303367, -0.47486697],
       ...,
       [ 0.79387405,  0.81303367, -0.35580399],
       [-1.06981717, -1.61413602,  1.68320121],
       [-0.58663796, -1.61413602,  0.86074761]], shape=(712, 3))