In [16]:
from sklearn.datasets import make_regression
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [17]:
X,y = make_regression(n_samples=100, n_features=2, n_informative=2, n_targets=1, noise=50)

In [18]:
df = pd.DataFrame({
    'feature1':X[:,0],
    'feature2':X[:,1],
    'target':y
})

In [20]:
df.shape

(100, 3)

In [21]:
df.head()

   feature1  feature2      target
0  0.575610  2.433341  213.767110
1  0.709323 -0.084994  -25.226810
2  0.132361 -0.779510  -89.128178
3 -2.680875 -1.344576 -175.771559
4 -1.127861 -0.132491  -30.717355